//remplissage des coeurs
@keyframes full-heart {
	0% {
		opacity: .5;
	}
	20% {
		opacity: .6;
	}
	40% {
		opacity: .7;
	}
	60% {
		opacity: .8;
	}
	80% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}

//apparition des plats
@keyframes plate-appear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
}

//loader
@keyframes spin {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	75% {
		transform: rotate(360deg);
		opacity: .8;
	}
	100% {
		transform: rotate(360deg);
		opacity: 0;
	}
}

//check les menus
@keyframes content-appear {
	0% {
		z-index: 0;
	}
	100% {
		z-index: 10000;
	}
}

