/*placeholder*/

%container-sm {
    padding: 16px;
    @media (min-width: 1200px) {
        padding: 16px 32px; 
    }

    @media (min-width: 1600px) {
        padding: 16px 64px;
    }
}

%container-md {
    padding: 20px; 

    @media (min-width: 1200px) {
        padding: 25px 32px;
    }

    @media (min-width: 1600px) {
        padding: 30px 64px; 
    }
}

%container {
    padding: 50px 20px;

    @media (min-width: 1200px) {
        padding: 80px 32px; 
    }

    @media (min-width: 1600px) {
        padding: 80px 64px; 
    }
}
